@import "../../styles.scss";

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 80vh;

    h1 {
        margin-bottom: 2rem;
    }
}
