.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    i {
        transition: 0.2s filter;

        &:hover {
            filter: brightness(0.8);
        }
    }

    a {
        &:visited {
            color: inherit;
        }
    }
}