<div class="footer-icons">
    <a href="#"><img src="../../../assets/facebook-icon.svg" alt="Facebook icon" title="Follow us on Facebook!"></a>
    <a href="#"><img src="../../../assets/instagram-icon.svg" alt="Instagram icon" title="Follow us on Instagram!"></a>
    <a href="#"><img src="../../../assets/twitter-icon.svg" alt="Twitter icon" title="Follow us on Twitter!"></a>
    <a href="#"><img src="../../../assets/youtube-icon.svg" alt="Youtube icon" title="Subscribe our channel on YouTube!"></a>
</div>