@import "../../styles.scss";

footer {
    background-color: $primary-color;
    color: $white;
    padding: 20px 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}