@import "../../../styles.scss";

.actions {
    button {
        @include button-base;
        margin: 2px;

        &#signup {
            background-color: $secondary-color;
            color: $white;

            &:hover {
                background-color: darken($secondary-color, 10%);
            }
        }

        &#login {
            background-color: transparent;
            border: 2px solid $secondary-color;
            color: $secondary-color;

            &:hover {
                background-color: $secondary-color;
                color: $white;
            }
        }
    }
}