<main>
    <nav>
        <h1>The Cooler Shop</h1>
        <div id="nav-empty"></div>
        <button>Log in</button>
        <button>Sign up</button>
    </nav>
    <div id="body">
        <div id="sidebar">

        </div>
        <div id="items">
            <div class="item">
                <span>Ime 1</span> <br>
                <span>Cena</span> <br>
                <span>Ocena</span>
            </div>
            <div class="item">
                <span>Ime 2</span> <br>
                <span>Cena</span> <br>
                <span>Ocena</span>
            </div>
            <div class="item">
                <span>Ime 3</span> <br>
                <span>Cena</span> <br>
                <span>Ocena</span>
            </div>
        </div>
    </div>
    <footer>
        <a href="#">Contact</a>
        <a href="#">Terms Of Use</a>
        <span>©</span>
    </footer>
</main>

<router-outlet></router-outlet>