nav {
    margin-bottom: 2rem;

    h1 {
        display: inline;
    }
}

#body {
    display: grid;
    grid-template-columns: 33.3% auto;
}

#items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .item {
        display: inline-block;
        width: fit-content;
    }
}

#nav-empty {
    display: inline-block;
    width: 82.5%;
}

footer {
    position: absolute;
    bottom: 0;
}