@import "../node_modules/bootstrap/scss/bootstrap";

$primary-color: #2c3e50;
$secondary-color: #3498db;
$background-color: #f4f4f4;
$text-color: #333;
$white: #ffffff;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-base {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', sans-serif;
    user-select: none;
}

.btn-submit {
  padding: 2px;

  color: white;
  background-color: $secondary-color;
  box-shadow: 0px 2px 12px black;

  border: none;

  &:hover {
    transition: filter 0.2s;
    filter: brightness(1.2);
  }
}
