@import "../../../styles.scss";

:not(h1) {
  font-size: 20px;
}

div.signup-form, div.field {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

div.field {
  margin-bottom: 1rem;

  input {
    border: 2px solid black;
    border-radius: 4px;
  }
  
  i {
    color: white;
    background-color: #FF5C5C;
    border: 2px solid red;
    border-radius: 24px;

    margin: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

