<form action="127.0.0.1:6969/api/signup" method="GET">
    <app-form-input name="name" nameHuman="Name" type="text"></app-form-input>
    <app-form-input name="surname" nameHuman="Surname" type="text"></app-form-input>
    <app-form-input name="email" nameHuman="Email" type="text"></app-form-input>
    <app-form-input name="password" nameHuman="Password" type="password"></app-form-input>
    <app-form-input name="password-repeat" nameHuman="Password Repeat" type="password"></app-form-input>

    <button class="btn-submit" type="submit">Sign up!</button>
</form>
